@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

* {
  font-family: Open Sans;
}

:root {
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  display: flex;
}

